*~
_build/*
*.native
todo
*.byte
output.tex
*.aux
*.bbl
*.blg
*.log
*.pdf
*.snm
*.nav
*.toc
*.synctex.gz
*.out
squirrel*
sanity
/tex/auto/*.el
*.fdb_latexmk
*.fls
_coverage/
*.coverage
/src/commit.ml
