*~
_build/*
*.native
todo
*.byte
*.exe
output.tex
*.aux
*.bbl
*.blg
*.log
*.pdf
*.snm
*.nav
*.toc
*.synctex.gz
*.out
./squirrel.exe
squirrel
sanity
/tex/auto/*.el
*.fdb_latexmk
*.fls
_coverage/
_opam/
node_modules/
*.coverage
/src/commit.ml
.DS_Store
\#*\#
.nvimrc
.vimrc
*.stat.json
*.exrc
*.\#*.sp
.venv/
*.bc.js
*.bc-for-jsoo
package-lock.json
app/static/client.js
app/static/editor.bundle.js
