*~
_build/*
*.native
todo
*.byte
*.exe
output.tex
*.aux
*.bbl
*.blg
*.log
*.pdf
*.snm
*.nav
*.toc
*.synctex.gz
*.out
squirrel*
sanity
/tex/auto/*.el
*.fdb_latexmk
*.fls
_coverage/
_opam/
*.coverage
/src/commit.ml
.DS_Store
\#*\#
.nvimrc
.vimrc
*.stat.json
