/* Added ↓ */
div#input {
  height:100%;
  background-color:white;
}

/* taken from jscoq <3 */
code, kbd, pre, samp {
font-family: Menlo,Monaco,Consolas,monospace;
}
body,html {
height: 100%;
background-color:#eee;
}
